<header>
    <a href="/">iLearn</a>
    <nav>
        {{#each links}}
        <a href="{{this.link}}">{{this.text}}</a>
        {{/each}}
        {{#if userName}}
        <form action="/logout" method="POST">
            <button type="submit">Log Out</button>
        </form>
        {{#each linksLogged}}
        <a href="{{this.link}}">{{this.text}}</a>
        {{/each}}
        {{else}}
        {{#each linksNotLogged}}
        <a href="{{this.link}}">{{this.text}}</a>
        {{/each}}
        {{/if}}
    </nav>
</header>