<!DOCTYPE html>
<html lang="cs">

<head>
    {{> head }}
</head>

<body>

    {{> header }}

    <section>
        <h1>{{pageName}}</h1>
        <form action="/saveProf" method="POST">
            <h2>Change name</h2>
            <div>
                <label for="name">Name & Surname</label><br>
                <input type="text" id="name" name="name" value="{{userName}}" required>
            </div>
            <h2>Change email</h2>
            <div>
                <label for="email">Email</label><br>
                <input type="email" id="email" name="email" value="{{userEmail}}" required>
            </div>
            <button type="submit">Save</button>
        </form>
        {{#if message }}
        <p class="alert alert-danger mt-4">{{message}}</p>
        {{/if}}
        <form action="/savePass" method="POST">
            <h2>Change password</h2>
            <div>
                <label for="password">Password</label><br>
                <input type="password" id="password" name="password" required>
            </div>
            <div>
                <label for="passwordConfirm">Password Confirm</label><br>
                <input type="password" id="passwordConfirm" name="passwordConfirm" required>
            </div>
            <button type="submit">Save password</button>
        </form>
        {{#if messagePass }}
        <p class="alert alert-danger mt-4">{{messagePass}}</p>
        {{/if}}
    </section>

    {{> footer }}

</body>